<div class="left-margin">
  <h1>添加执行场景</h1>
  <p-growl [value]="msgs"></p-growl>
  <form [formGroup]="userform" (ngSubmit)="onSubmit(userform.value)">
  	<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
		  <div class="ui-grid-row">
		    <div class="ui-grid-col-2">
					 <label>项目名称(*): </label>
        </div>
        <div class="ui-grid-col-6">
        	<pro-name></pro-name>
        </div>
        <div class="ui-grid-col-4">
        </div>
		  </div>
		  <div class="ui-grid-row">
		  	<div class="ui-grid-col-2">
		  		<label>执行场景名称（*）: </label>
		  	</div>
		  	<div class="ui-grid-col-6">
		  		<input type="text" pInputText [(ngModel)]="main.iemName" formControlName="iemName" placeholder="必填"/>
		  	</div>
		  	<div class="ui-grid-col-4">
		  		<div class="ui-message ui-messages-error ui-corner-all" *ngIf="recommend">
            <i class="fa fa-close"></i>
						执行场景名称已存在
        	</div>
		  		<div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['iemName'].valid&&userform.controls['iemName'].dirty">
            <i class="fa fa-close"></i>
						执行场景名称不能为空且不超过30字符
        	</div>
		  	</div>
		  </div>
		  <div class="ui-grid-row">
		  	<div class="ui-grid-col-2"></div>
		  	<div class="ui-grid-col-6">
		  		<button pButton type="submit" class="ui-button-warning" label="添加" [disabled]="!userform.valid||recommend"></button>
		  	</div>
		  	<div class="ui-grid-col-4"></div>
		  </div>
		  <div class="ui-grid-row">
		  	<div class="ui-grid-col-2"></div>
		  	<div class="ui-grid-col-6">
		  		<button pButton type="button" (click)="goBack()"  label="返回"></button>
		  	</div>
		  	<div class="ui-grid-col-4"></div>
		  </div>
		</div>
  </form>
</div>

