<div class="left-margin">
  <h1>执行场景详情</h1>
  <p-growl [value]="msgs" life="3000"></p-growl>
  <div *ngIf="main">
  <form #userform="ngForm" (ngSubmit)="onSubmit(userform.value)">
		<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
			<div class="ui-grid-row">
		    <div class="ui-grid-col-2">
					 <label>执行场景序号: </label>
	    </div>
	    <div class="ui-grid-col-6">
	      <input pInputText type="text" name="iemId" [(ngModel)]="main.iemId" disabled="true"/>
	    </div>
	    <div class="ui-grid-col-4"></div>
		</div>
		  <div class="ui-grid-row">
		    <div class="ui-grid-col-2">
					 <label>项目名称: </label>
	    </div>
	    <div class="ui-grid-col-6">
	      <input pInputText type="text" name="mpName" [(ngModel)]="main.mpName" #mpName="ngModel" pattern="^[1-9][0-9]{0,10}$" placeholder="必填" required="true" disabled="true"/>
	    </div>
	    <div class="ui-grid-col-4">
	    </div>
		  </div>
		  <div class="ui-grid-row">
		    <div class="ui-grid-col-2">
					 <label>项目序号: </label>
	    </div>
	    <div class="ui-grid-col-6">
	      <input pInputText type="text" name="mpId" [(ngModel)]="main.mpId" #mpId="ngModel" pattern="^[1-9][0-9]{0,10}$" placeholder="必填" required="true"/>
	    </div>
	    <div class="ui-grid-col-4">
	    	<div class="ui-message ui-messages-error ui-corner-all" *ngIf="!mpId.valid&&mpId.dirty">
	        <i class="fa fa-close"></i>
						项目序号为正整数，不能为空且不超过11位
	    	</div>
	    </div>
		  </div>
		  <div class="ui-grid-row">
		  	<div class="ui-grid-col-2">
		  		<label>执行场景名称: </label>
		  	</div>
		    <div class="ui-grid-col-6">
		    	<input type="text" pInputText name="iemName" [(ngModel)]="main.iemName" #iemName="ngModel" maxlength="30" placeholder="选填"/>
		    </div>
		    <div class="ui-grid-col-4">
		    	<div class="ui-message ui-messages-error ui-corner-all" *ngIf="!iemName.valid&&iemName.dirty">
	        <i class="fa fa-close"></i>
						执行场景名称不超过30字符
	    	</div>
		    </div>
		  </div>
		  <div class="ui-grid-row">
		  	<div class="ui-grid-col-2"></div>
		  	<div class="ui-grid-col-6">
		  		<button pButton type="submit" class="ui-button-warning" label="更新" [disabled]="!userform.valid" ></button>
		  	</div>
		  	<div class="ui-grid-col-4"></div>
		  </div>
		  <div class="ui-grid-row">
		  	<div class="ui-grid-col-2"></div>
		  	<div class="ui-grid-col-6">
		  		<button pButton type="button" (click)="goBack()"  label="返回"></button>
		  	</div>
		  	<div class="ui-grid-col-4"></div>
		  </div>
		</div>

	</form>
	</div>
</div>
