<div class="left-margin">
  <p-growl [value]="msgs" life="3000"></p-growl>
  <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
  	<div class="ui-grid-row">
	  <div class="ui-grid-col-2">
		<label>选择执行测试的场景: </label>
      </div>
      <div class="ui-grid-col-6">
        <p-dropdown  [options]="names" [(ngModel)]="selectedID" placeholder="选择执行场景" [autoWidth]="false"></p-dropdown >
      </div>
      <div class="ui-grid-col-4">
      </div>
    </div>
    <div class="ui-grid-row">
	  <div class="ui-grid-col-4">
      <button pButton (click)="onSubmit()" class="ui-button-warning" label="执行"></button>
    </div>
	  <div class="ui-grid-col-4">
      <button pButton (click)="downloadLogFile()" class="ui-button-warning" label="执行日志下载"></button>
	  </div>

    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-8">
        <div aria-valuemax="100" aria-valuemin="0" class="ui-progressbar ui-widget ui-widget-content ui-corner-all" role="progressbar" aria-valuenow="0">
          <div id="processBar" class="ui-progressbar-value ui-progressbar-value-animate ui-widget-header ui-corner-all" style="display: block; width: 0%;"></div>
            <div id="processBarSpan" class="ui-progressbar-label" style="display: block;"></div>
          </div>
        </div>
      <div class="ui-grid-col-4">
      </div>
    </div>
  </div>
</div>
